body, html {
    height: 100%;
    margin: 0;
  }



header { /*NOT THE SAME AS NAVIGATON BAR*/
    /*background-image: url();*/
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index : -5;
    }
article.content, article.bg
{
  z-index : 100;
}
article.bg
{
  width : 100%;
  
  background-color : rgba(227, 227, 227, 1);
}
article.content
{
  background-color : rgba(237, 237, 237, 0.4);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  width : 60%;
  margin : auto;
}

.backgroundImg
{
  position : fixed;
  z-index : -1000;
  width : 100%;
}



#menu
{
  z-index : 1000;
  position : fixed;
  margin : auto;
  width : 100%;
  background-color : rgba(237, 237, 237, 0.8);
}
.menuButton
{
  text-decoration : none;
  padding : 15px 32px;
  display : inline-block;

  background-color : transparent;
  border : none;
  border-bottom : 0px solid black;
  color : black;
  text-shadow : 2px 2px lightgrey;
  text-align : center;
  font-size : 30px;
  cursor : pointer;
  transition : 0.2s;
}
.menuButton:hover
{
    border-bottom : 3px solid black;
    padding-bottom : 20px;
    transition : 0.2s;
    text-shadow : 3px 3px lightgrey;
}
