/* LAST EDITED BY:
Torbjørn, 05.10.2020 */

body, html {
    height: 100%;
    margin: 0;
  }

header { /*NOT THE SAMEe AS NAVIGATON BAR*/
    /*background-image: url();*/
    height: 682px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index : -5;
    }
article.content, article.bg
{
  z-index : 100;
}
article.bg
{
  width : 100%;
  
  background-color : rgba(227, 227, 227, 1);
}
article.content
{
  background-color : rgba(237, 237, 237, 0.4);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  min-width: 800px;
  width: 50%;
  margin: auto;
}

.backgroundImg {
  position: fixed;
  z-index: -1000;
  width: 100%;
}

#navbar {
  z-index: 1000;
  position: fixed;
  margin: auto;
  width: 100%;
  background-color: rgba(255, 137, 0, 1);
}


#banner
{
  background-image : url("../imgs/banner.jpg");
}
#navBar
{
  display : inline-block;
  z-index : 1000;
  position : fixed;
  margin : auto;
  width : 100%;
  background-color : rgba(255, 137, 0, 1);
}
.navCell
{
  font-family : Verdana, Geneva, Tahoma, sans-serif;  /*Signika Negative requires stylesheet link in HTML!*/
  vertical-align : top;
  display : inline-block;
  position : relative;
  top : 0px;
}
.navImg, .navButton
{
  cursor : pointer;
}
.navImg
{
  /*background-color : red;*/
  position : relative;
}
.navButton
{
  font-family : inherit;
  text-decoration : none;
  border : none;
  border-bottom : 0px solid black;
  color : black;
  width : 100%;
  background-color : transparent;
  font-size : 30px;
  text-align : center;
  transition : 0s;
}
.navButton:hover
{
    transition : 0s;
    color : lightgrey;
    background-color : rgba(245, 127, 0, 1);
    text-shadow : 1px 1px black;
}

/*ADDED FOR SLIDESHOW*/


#img1 {
  width: 100%;
  height: 82vh;
}

#slide {
  position: relative;
  
}

#lButton {
    position: absolute;
    transform: rotate(-90deg);
    filter: invert(100%);
    top: 50%;
    left: 2%;
    background: url("../imgs/bestpil.png") no-repeat;
    z-index: 100;
    cursor: pointer;
    background-size:100% 100%;
    width: 5%;
    height: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}

#RButton {
    position: absolute;
    transform: rotate(90deg);
    filter: invert(100%);
    right: 2%;
    top: 50%;
    background: url("../imgs/bestpil.png") no-repeat;
    z-index: 100;
    cursor: pointer;
    background-size:100% 100%;
    width: 5%;
    height: 10%;
    opacity: 0.5;
    border: none;
    outline: none;
}



/*Find restaurants*/

.tableDiv {
  max-width: 100%;
  border-top: 1px solid rgba(245, 127, 0, 1);
  border-bottom: 1px solid rgba(245, 127, 0, 1);
  margin: 20px 0px 20px 0px;
}

/*The table on the find restaurants page. */

.restaurantsTable {
  margin-top: 10px;
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
/* The names of the restaurants in the table (first row) */
.restaurantsName td {
  font-weight: bold;
}

/* Changes the width of the cells in the table */
.restaurantsTable td {
  width: 5%;
}

/*The div for our future map of the restaurants. */

.mapDiv {
  max-width: 100%;
}

/*The image of our future map. */

#mapImg {
  align-content: center;
  width: 100%;
}

/*div containing everything on the page. */

#container {
  position: relative;
  min-height: 0vh;
}

/*div containing everything except for the navbar and the footer. */

/* #content {

} */

/* The header representing our navbar on the testing page for our footer */

#content h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* p elements on our testing page for our footer */

#content p {
  margin: 0 10% 0 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*div for the footer. */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  text-align: center;
}

/*changes the cursor when hover over images in the footer. */

#footer a:hover {
  cursor: pointer;
}

/*Sets the footer background image under the other images, and at the bottom. */

#footerBackground {
  position: absolute;
  width: 100%; 
  height: 300px;
  z-index: -1000;
  left: 0;
}

/*The logo in the footer */

#footerLogo {
  position: relative;
  width: 15%;
  left: 57px;
}

/* Facebook image in footer */

#facebook {
  position: relative;
  width: 3%;
  right: 44%;
}

/* Instagram image in footer */

#instagram {
  position: relative;
  width: 3%;
  right: 42%;
}

/* CONTACT US */

.contactDiv {
  max-width: 100%;
  border-top: 1px solid rgba(245, 127, 0, 1);
  border-bottom: 1px solid rgba(245, 127, 0, 1);
  margin: 20px 0px 20px 0px;
  text-align: center;

  margin-top: 10px;
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.FAQ {
  border-bottom: 1px solid rgba(245, 127, 0, 1);
}

.contactForm textarea {

}