/* CONTACT US */

.contactDiv {
  max-width: 100%;
  border-top: 1px solid rgba(245, 127, 0, 1);
  border-bottom: 1px solid rgba(245, 127, 0, 1);
  text-align: center;
  width: 80%;
  margin: 10px auto 50px auto;
  padding: 5px;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-size: 15px;
}

#contactBanner {
  max-width: 100%;
  width: 100%;
  height: 510px;
}

.imageText {
  position: absolute;
  font-size: 22px;
  top: 50%;
  left: 10%;
  color: white;
  padding: 10px;
  border: 2px solid rgba(245, 127, 0, 0.8);
  background: rgba(47, 47, 47, 0.5);
}

.imageText a {
  text-decoration: none;
  color: white;
}

.imageText:hover {
  cursor: pointer;
  background-color: rgba(47, 47, 47, 0.2);
  border-color: rgba(245, 127, 0, 0.5)
}

.FAQ {
  border-bottom: 1px solid rgba(245, 127, 0, 1);
}

.contactForm textarea {
  margin-bottom: 10px;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  font-size: 13px;
}

#email, #subject {
  width: 40%;
}

#contactSend {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid black;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  border-color: rgba(245, 127, 0, 1);
  text-decoration: none;
  font-weight: 300;
  color: white;
  text-shadow: 0 0em 1em rgba(0, 0, 0, 0.2);
  background-color: rgba(245, 127, 0, 1);
  text-align: center;
  transition: all 0.15s;
}

#contactSend:hover {
  text-shadow: 2em 1em 2em rgba(255, 255, 255, 1);
  color: white;
  border-color: rgb(252, 168, 80);
}