/*Find restaurants*/
 /**/
 .tableDiv {

    max-width: 100%;
    border-top: 1px solid rgba(245, 127, 0, 1);
    border-bottom: 1px solid rgba(245, 127, 0, 1);
    margin: 20px 0px 20px 0px;
   }
    
   /*The table on the find restaurants page. */
    
   .restaurantsTable {
    margin-top: 10px;
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 5px;
    text-align: center;
  
   }
    
   /* The names of the restaurants in the table (first row) */
    
   .restaurantsName td {
    font-weight: bold;
   }
    
   /* Changes the width of the cells in the table */
    
   .restaurantsTable td {
  
    width: 5%;
   }
    
   /*The div for our future map of the restaurants. */
    
   .mapDiv {
    max-width: 100%;
   }
    
   /*The image of our future map. */
    
   #mapImg {
    align-content: center;
    width: 100%;
   }