/*Override for articles*/
article.content {
   width: 90%;
}

/*Find restaurants*/

.tableWrapper {
   width: 100%;
   margin: 50px;
}

/*Made the borders white instead of removing them because the removal causes blank space*/
.tableDiv {
   font-size: 20px;
   max-width: 100%;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   height: 100%;
}

/*The table on the find restaurants page. */

.restaurantsTable {
   width: 80%;
   padding: 5px;
   text-align: center;
   margin: 20px auto 20px auto;
}

/* The names of the restaurants in the table (first row) */

.restaurantsName td {
   font-weight: bold;
}

/* Changes the width of the cells in the table */

.restaurantsTable td {
   width: 5%;
}

/*The image of our future map. */

#mapImg {
   align-content: center;
   width: 100%;
   height: auto;
}

#map {
   height: 100%;
   width: 100%;
}

a {
   text-decoration: none;
   color: rgb(247, 128, 31);
 }

 a:hover {
    color: rgb(245, 157, 84);
 }

 #posText {
   position: absolute;
   top: 80%;
   left: 2%;
   color: rgb(70, 69, 69);
   z-index: 99;
   font-size: 32px;
   padding: 10px;
   border: 2px solid rgba(252, 183, 137, 0.568);
   background-color: rgba(236, 235, 235, 0.055);
 }