/*ARTICLE & MISC*/
body, html
{
  height: 100%;
  margin: 0;
  /*Signika Negative requires stylesheet link in every HTML page!*/
  /*Default fallback font is Verdana*/
  font-family: "Signika", Verdana, Geneva, Tahoma, sans-serif;
}
p
{
  font-size : 20px;
}

article.content, article.bg
{
  z-index: 100;
}

article.bg
{
  width: 100%;
  background-color: rgba(237, 237, 237, 1);
}
  
article.content
{ /*article.content is inside article.bg, and contains the content of the page*/
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  min-width: 800px;
  width: 50%;
  margin: auto;
}

/*=========================================*/
/*NAVBAR*/
#banner
{
  background-image : url("../imgs/banner.jpg");
  position : relative;
  background-color : green;
  z-index : 900;
}
  
 #navBar
{
  display: inline-block;
  z-index: 1000;
  position: fixed;
  margin: auto;
  width: 100%;
  background-color: rgba(255, 137, 0, 1);
}
  
.navCell
{
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 0px;
}

.navImg, .navButton
{
  cursor: pointer;
}
  
.navImg {

  /*background-color : red;*/
  position : relative;
}
.navButton
{
  font-family : inherit;
  text-decoration : none;
  border : none;
  border-bottom : 0px solid black;
  color : black;
  width : 100%;
  background-color : transparent;
  font-size : 30px;
  text-align : center;
  transition : 0s;
  overflow : hidden;
}
  
.navButton:hover
{
  transition: 0s;
  color: lightgrey;
  background-color: rgba(245, 127, 0, 1);
  text-shadow: 1px 1px black;
}


/*=========================================*/
/*FOOTER*/

/*div for the footer. */
#footer
{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0px;
  text-align: center;
}
  


/*changes the cursor when hover over images in the footer. */
#footer a:hover
{
  cursor: pointer;
}

/*Sets the footer background image under the other images, and at the bottom. */ 
#footerBackground
{
  position: absolute;
  width: 100%;
  height: 300px;

  z-index: 101;
  left: 0;
}
  

/*The logo in the footer */
#footerLogo
{
  z-index : 102;
  position: relative;
  width: 15%;
  left: 57px;
}
  
 
 
 
/* Facebook image in footer */
#facebook
{
  z-index : 101;
  position: relative;
  width: 3%;
  right: 44%;

}
  
 /* Instagram image in footer */
#instagram
{
  z-index : 101;
  position: relative;
  width: 3%;
  right: 42%;
}


/* SUBMIT PAGES (ORDER & CONTACT) */
.submitButton
{
    background-color : rgba(245, 127, 0, 1);
    color : white;
    border-radius : 10px;
    padding : 20px;
    font-size : 20px;
    cursor : pointer;
    border : 0px;
}
.submitResponse
{
    position : absolute;
    left : 25%;
    top : 35%;
    margin : auto;
    width : 50%;
    height : 50%;
}