/*Fixes the blank space between the div-elements on the home page.*/
html {
    font-size: 0;
}

/*ADDED FOR SLIDESHOW*/
  
#img1 {
    width: 100%;
    height: auto;
}
    
#slide {
    position: relative;
    height : auto;
}
    
#lButton {
    position: absolute;
    /*Roterer og inverterer fargen til venstre knapp*/
    transform: rotate(-90deg);
    filter: invert(100%);
    top: 50%;
    left: 2%;
    background: url("../imgs/index/slideArrow.png") no-repeat;
    z-index: 100;
    cursor: pointer;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border: none;
    outline: none;
}
    
#RButton {
    position: absolute;
    /*Roterer og inverterer fargen til høyre knapp*/
    transform: rotate(90deg);
    filter: invert(100%);
    right: 2%;
    top: 50%;
    background: url("../imgs/index/slideArrow.png") no-repeat;
    z-index: 100;
    cursor: pointer;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border: none;
    outline: none;
}

article.bg {
    position: relative;
    width: 100%;
    height: auto;
}

/*Gray overlay on the picture of Obama eating an apple on the home page*/

.pagePreview {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    background-color: black;
  }
    
/*Obama eating an apple*/
#obamaApple {
    position: relative;
    width: 100%;
    opacity: 0.5;
    height : auto;
}

#mapPreview {
    position: relative;
    width: 100%;
    opacity: 0.5;
    height : auto;
}

.imageText {
    display: block;
    position: absolute;
    font-size: 11px;
    top: 50%;
    left: 50%;
    min-height: 18%;
    min-width: 15%;
    max-height: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid rgba(245, 127, 0, 0.8);
    background: rgba(47, 47, 47, 0.5);
    text-align: center;
}
    
.imageText:hover {
    opacity: 0.7;
    cursor: pointer;
}
