.dish
{
    /*background-color : rgb(237, 237, 337);*/
    width : 200px;
    height : 38vh;
    margin : 10px;
    display : inline-block;
}
.dishImgWrapper
{
    display : block;
    width : 100%;
    height : 50%;
}
.dishImg
{
    display : block;
    margin : auto;
    max-height : 100%;
    max-width : 100%;
}
.buttonWrapper > *
{
    display : inline-block;
    width : 50px;
    height : 50px;
    cursor : pointer;
}
article.content
{  /* Override for this special page */
    width : 90%;
    min-width : 0px;
    min-height : 300px;
}
input
{
    padding : 20px;
}